<!DOCTYPE html>
<html lang="en" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Employee List Page</title>
  <link rel="stylesheet" th:href="@{/static/css/index_work.css}">
</head>
<body>
<table>
  <tr>
    <th colspan="6">Employee List</th>
  </tr>
  <tr>
    <th>Sequence#</th>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Email</th>
    <th>Operation</th>
  </tr>
  <tr th:each="employee, status : ${page.list}">
    <td th:text="${status.count}"></td>
    <td th:text="${employee.empName}"></td>
    <td th:text="${employee.age}"></td>
    <td th:text="${employee.gender}"></td>
    <td th:text="${employee.email}"></td>
    <td>
      <a href="">Delete</a>
      <a href="">Modify</a>
    </td>
  </tr>
</table>
<div style="text-align: center;">
  <a th:if="${page.hasPreviousPage}" th:href="@{/employee/page/1}">First Page</a>
<!--  Thymeleaf中，往路径里添加变量必须采用-->
  <a th:if="${page.hasPreviousPage}" th:href="@{'/employee/page/' + ${page.prePage}}" >Previous Page</a>
  <span th:each="num : ${page.navigatepageNums}">
    <a th:if="${page.pageNum == num}" style="color: red;" th:text="'[' + ${num} + ']'" th:href="@{'/employee/page/' + ${num}}"></a>
    <a th:if="${page.pageNum != num}" th:href="@{'/employee/page/' + ${num}}" th:text="${num}"></a>
  </span>
  <a th:if="${page.hasNextPage}" th:href="@{'/employee/page/' + ${page.nextPage}}" >Next Page</a>
  <a th:if="${page.hasNextPage}" th:href="@{'/employee/page/' + ${page.pages}}" >Last Page</a>
</div>
</body>
</html>